body{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
    /* display: flex; */
    /* justify-content: center; */
    /* transform: scale(calc(100vw / 1920)); 
    transform-origin: top left;
    width: 1440px;
    min-height: 100vh;
    overflow-x: hidden; */
}
header{
    .three-bar{
        display: none;
    }
    .header-container{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        width: 95%;
        max-width: 1300px;
        margin: 0 auto;
        padding: 32px 0 0 18px;
        .logo{
            display: flex;
            flex-direction: row;
            gap: 12px;
            margin-top: -4px;
            .logo-circle{
                /* margin-left: 18px; */
                width: 26px;
                height: 26px;
                border-radius: 50px;
                background-color: #D0D0D0;
            }
            .logo-text{
                color: #285E67;
                font-weight: 600;
                font-size: 21.33px;
                line-height: 24px;
            }
        }
        nav{
            display: flex;
            flex-direction: row;
            gap: 40px;
        }
    }
}
.container-page{
    display: flex;
    justify-content: center ;
    margin:  0 auto;
    margin-top: 144px;
    width: 95%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    gap: 104px;
    margin-bottom: 118px;
    .page-body--ct--1{
        display: flex;
        flex-direction: column;
        gap: 33px;
        .ct-1--heading{
            display: flex;
            flex-direction: column;
            gap: 17px;
            text-align: center;
            .ct-1--heading-text--1{
                color: #2a2a2a;
                font-weight: 600;
                font-size: 65.34px;
                line-height: 82px;
            }
            .ct-2--heading-text--2{
                color: #2B2B2B;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
            }
        }
        .ct-1--image{
            display: flex;
            flex-direction: column;
            gap: 56px;
            .ct-1--button-container{
                display: flex;
                justify-content: center;
                .ct-1--button{
                    background-color: #285E67;
                    color: #fff;
                    padding: 16px 0;
                    width: 251px;
                    text-align: center;
                    font-weight: 600;
                    font-size: 21.33px;
                    line-height: 24px;
                    border-radius: 67px;
                }
            }
            .ct-1-image--container{
                display: flex;
                justify-content: space-between;
                /* flex-direction: row; */
                gap: 48px;
                width: 100%;
                /* height: 391px; */
                .image--1{
                    background-image: url(peace.png);
                    @media screen and (max-width: 900px){
                        background-position: center;
                    }
                    
                }
                .image--2{
                    background-image: url(cook.png);
                    @media screen and (max-width: 900px){
                        background-position: center;
                    }
                }
                .imga{
                    width:calc((100% - 48px) / 2);
                    height: 391px;
                    border-radius: 16px;
                }
            }
        }
    }
    .page-body--ct--2{
        background-color: #F4F4F4;
        border-radius: 12px;
        height: 446px;
        .ct-2-wrap{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            .ct-2--section{
                position: absolute;
                display: flex;
                flex-direction: column;
                gap: 61px;
                left: 8.61%;
                width: 52%;
                max-width: 589px;
                .ct-2--sec-heading{
                    color: #2B2B2B;
                    font-weight: 600;
                    font-size: 50.52px;
                    line-height: 62px;
                    height: 94px;
                    align-items: end;
                }
                .ct-2--sub-container{
                    display: flex;
                    flex-direction: row;
                    gap: 69px;
                    .ct-2-sub--box{
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        .ct-2-box-text{
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                            color: #2B2B2B;
                        }
                    }
                }
            }
            .img{
                position: absolute;
                bottom: 8px;
                right: 8.61%;
            }
            /* .ct-2--illu{

            } */
        }
    }
    .page-body--ct--3{
        display: flex;
        align-items: center;
        gap: 53px;
        .ct-3-image{
            height: 578px;
            width: 539px;
            img{
                height: 578px;
                width: 539px;
            }
        }
        .ct-3-content{
            display: flex;
            flex-direction: column;
            gap: 50px;
            .ct-3-heading{
                padding-bottom: 16px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                .ct-3-head-text-1{
                    color: #2B2B2B;
                    font-weight: 600;
                    font-size: 50.52px;
                    line-height: 62px;
                }
                .ct-3-head-text-2{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
        .ct-3-box{
            display: flex;
            flex-direction: row;
            gap: 23px;
            .ct-3-box--icon{
                height: 52px;
            }
            .ct-3-box-text{
                color: #2B2B2B ;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
    .page-body--ct--4{
        background-color: #F4F4F4;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 87px;
        border-radius: 12px;
        height: 541px;
        .ct-4-content{
            display: flex;
            flex-direction: column;
            width: 543px;
            padding-top: 35px;
            gap: 41px;
            .ct-4-heading{
                color: #2B2B2B;
                font-weight: 600;
                font-size: 50.52px;
                line-height: 30px;
            }
            .ct-4-sub-container{
                display: flex;
                flex-direction: row;
                gap: 69px;
                .ct-4-sub--box{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    .ct-4-sub-icon{
                        height: 57px;
                        img{
                            height: 57px;
                            width: 58px;
                        }
                    }
                    .ct-4-sub-text{
                        color: #2A2A2A;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                    }
                }

            }
        }
    }
    .page-body--ct--5{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        height: 832px;
        .ct-5-bg-box{
            position: absolute;
            top: 0;
            background-image: url(img-bg.png);
            /* background-repeat: no-repeat; */
            border-radius: 12px;
            width: 100%;
            background-position: 50%;
            height: 560px;
            display: flex;
            justify-content: center;
            padding: 110.47px 0 0 0 ;
            .ct-5-container{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                width: 650px;
                height: 340px;
                gap: 45px;
                .ct-5-bg-leaf{
                    height: 82.06px;
                }
                .ct-5-bg-head-box{
                    display: flex;
                    flex-direction: column;
                    gap: 28px;
                    .ct-5-bg-heading{
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        color: #fff;
                        .ct-5-bg-head--text{
                            font-weight: 600;
                            font-size: 37.9px;
                            line-height: 36px;
                        }
                        .ct-5-bg-head--content{
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                        }
                    }
                    .ct-5-bg-button-wrap{
                        display: flex;
                        justify-content: center;
                        .ct-5-bg-button{
                            border: 1px solid #F4F4F4;
                            color: #F4F4F4;
                            border-radius: 67px;
                            font-weight: 600;
                            font-size: 21.33px;
                            line-height: 24px;
                            width: 257px;
                            height: 56px;
                            text-align: center;
                            align-content: center;
                        }
                    }
    
                }
            }
        }
        .ct-5-front{
            width: 89.61%;
            height: 356px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
            background-color: #FCE2D7;
            z-index: 1;
            .front-wrap{
                max-width: 1033px;
                width: 88.66%;
                display: flex;
                flex-direction: row;
                gap: 17px;
                .front-wrap-list{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 17px;
                    width: 100%;
                    .ct-5-front-box{
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        /* width: 245.5px; */
                        gap: 11px;
                        flex: 1;
                        .front-box-icon{
                            height: 82px;
                        }
                        .front-box-text{
                            color: #2B2B2B;
                            font-weight: 400;
                            font-size: 21.33px;
                            line-height: 24px;
                        }
                    }
                }
            }

        }
        

    }
    /* .page-body{
    } */
}
footer{
    /* margin-top: 118px; */
    background-color: #285E67;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 78px 139px;
    /* padding: 78px 139px; */
    .footer-frame{
        display: flex;
        justify-content: space-between;
        width: 1300px;
        .footer-logo-container{
            display: flex;
            flex-direction: column;
            gap: 36px;
        }
        .footer-logo-website{
            display: flex;
            flex-direction: row;
            gap: 10px;

            .footer-logo-circle{
                width: 26px;
                height: 26px;
                border-radius: 50%;
                background-color: #EAEAEA;
            }
            .footer-logo-text{
                color: #fff;
                font-weight: 600;
                font-size: 21.33px;
                line-height: 24px;
            }
        }
        .footer-brand{
            display: flex;
            gap: 24px;
            align-items: center;
        }
        .footer-nav-bar{
            display: flex;
            gap: 40px;
            .footer-nav-item{
                color: #FFFFFF;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}
.mobile-heading{
    display: none;
}
.ct-3-box-text-mobile{
    display: none;
}
.ct-5-bg-head--text-mobile{
    display: none;
}
/* @media screen and (max-width: 1390px) {
    body{
        width: 1390px;
    }
}
@media screen and (max-width: 1395px) {
    body{
        width: 1395px;
    }
}
@media screen and (max-width: 1385px) {
    body{
        width: 1385px;
    }
}
@media screen and (max-width: 1366px) {
    body{
        width: 1366px;
    }
} */