@media screen and (max-width: 1024px) {
    body{
        /* width: 1024px; */
        /* display: flex; */
        /* justify-content: center; */
        /* transform: scale(calc(100vw / 1920)); 
        transform-origin: top left;
        width: 1024px;
        min-height: 100vh;
        overflow-x: hidden; */
    }
    header{
        .header-container{
            display: flex;
            justify-content: space-between !important;
            flex-direction: row;
            align-items: center;
            width: 92% !important;
            margin: 0 auto;
            max-width: 884px !important;
            padding: 32px 0 0 18px;

        }
    }
    .container-page{
        .page-body--ct--2{
            display: flex;
            justify-content: center;
            padding-left: 0px;
        }
        .page-body--ct--3{
            gap: 25px;
            
        }
        .page-body--ct--5{
            .ct-5-front{
                height: 84.04% !;
                height: 350px;
                .front-wrap{
                    display: flex;
                    flex-direction: row;
                    gap: 17px;
                    .front-wrap-list{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        row-gap: 44.5px;
                        column-gap: 49px;
                        flex-wrap: wrap;
                        .ct-5-front-box{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            gap: 11px;
                            width: calc(50% - 49px / 2);
                            flex: none;
                            .front-box-icon{
                                img{
                                    width: 60px;
                                    height: 60px;
                                }
                            }
                        }
                    }
                }
            }
        }
        /* .page-body{
            max-width:884px;
        } */
            
        
        .ct-1--heading-text--2{
            padding: 0px 110px;
        }
        .image--1{
            width: 427px;
            position: relative;
            overflow: hidden;
            display: flex;
            justify-content: center;
            border-radius: 16px;
            img{
                object-fit: cover;
            }
        }
        .image--2{
            width: 427px;
            position: relative;
            overflow: hidden;
            display: flex;
            justify-content: center;
            border-radius: 16px;
            img{
                object-fit: cover;
            }
        }
        
        
    }
    .ct-2-sub--box{
        text-align: center;
    }
    
    .ct-3-image{
        width: 429.5px;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        border-radius: 16px;
        img{
            object-fit: cover;
        }
    }
    .ct-3-content{
        width: 429.5px;
    }
    .ct-3-box{
                
        .ct-3-box-text{
            color: #285E67 !important;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }
    }
    .page-body--ct--4{
        text-align: center;
        .ct-4-image{
            display: none;
        }
        .ct-4-content{
            .ct-4-heading{
                margin-bottom: 40px;
            }
        }
    }
    footer{
        justify-content: space-between;
        padding-bottom: 0px;
        /* height: 227px; */
        .footer-frame{
            margin-bottom: 128px;
            gap: 36px;
            display: flex;
            flex-direction: column;
            .footer-logo-container{
                display: flex;
                flex-direction: column;
                gap: 36px;
                position: relative;
                .footer-brand{
                    position: absolute;
                    top: 122px;
                }
            }
        }
    }
    .img{
        display: none;
    }
    .ct-2--section{
        position: unset !important;
        display: flex;
        flex-direction: column;
        gap: 61px;
        width: 95% !important;
        /* max-width: 589px !important; */
        height: max-content;
    }
    .ct-2-box-text{
        padding-bottom: 32.69px;

    }
    
    /* .front-wrap-list{
            border-radius: 16px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            row-gap: 44.5px !important;
            column-gap: 49px !important;
            flex-wrap: wrap !important;
        }
    .front-box-icon{
        img{
            width: 60px;
            height: 60px;
        }
    } */
}
